@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --quest-dark: #0f172a;
  --quest-panel: #1e293b;
}

body {
  background-color: var(--quest-dark);
  -webkit-tap-highlight-color: transparent;
}

/* Custom Scrollbar for the dark theme */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}